<h1>Player vs Computer</h1>
  <form action="/title">
    <div class="form-group">
       <label for="player_input">Choose Rock,Paper or Scissor?
  </label>
       <input id="player_input" name="player_input" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
